body {background-color: #222; background: url(dark_fish_skin.png); color: #fefffe; font-family: sans-serif; margin: 1em 2em 1em 2em; font-size: 100%; line-height: 130%;}
a:visited {
	color: #BFB;
}
a {
	color: #BBF;
}
h1, h2, h3, h4, h5, h6 {font-family: Candara, sans-serif; font-weight: bold; line-height:100%; margin-top: 1.5em; margin-bottom: 0.5em;}
h1 {font-size: 2.6em; color: #FFFFFF;}
h2 {font-size: 2.2em; color: #DEEEFE;}
h3 {font-size: 1.8em; color: #CBCBCB;}
h4 {font-size: 1.4em; color: #BBBBBD;}
h5 {font-size: 1.3em; color: #BBBBBD;}
h6 {font-size: 1.2em; color: #BBBBBD;}
p, pre, blockquote, table, ul, ol, dl {margin-top: 1em; margin-bottom: 1em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: 2em; padding-left: 0.5em;}

/* GO NAVY */
ol {list-style-type: decimal;}
ol ol {list-style-type: lower-alpha;}
ol ol ol {list-style-type: decimal;}
ol ol ol ol {list-style-type: upper-alpha;}

dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #ccc; margin-left: 2em; padding-left: 0.5em;}
blockquote {padding: 0.4em; color: black; background-color: #f6f5eb;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0; color: #222}
hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del {text-decoration: line-through; color: #AAAAAA;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

/* classes for items of todo lists */
.done0 {
    border: 2px solid red;
}
.done1 {
    border: 2px dashed red;
}
.done2 {
    border: 2px solid yellow;
}
.done3 {
    border: 2px dashed yellow;
}
.done4 {
    border: 2px dotted green;
}

code {
    font-family: "Consolas","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.container {
    width: 100%;
}
.bookmarks {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.content {
    float: right;
    width: 80%;
}
@media screen {
    .bookmarks {
        position: fixed;
    }
}
.whine {
    background: #DFD;
    border: 2px dotted yellow;
    color: black;
    font-family: monospace;
}
.whine a {
    color: blue;
}
